/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.game-setup {
  display: grid;
  gap: 50px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.player {
  position: relative;
  padding: 30px;
  width: 200px;
  height: 300px;
  background-color: #000;
  border-radius: 10px;
}

.add-player {
  height: 50px;
  border-radius: 50%;
}

.player-role {
  font-size: 25px;
}

.player-name {
  font-size: 15px;
}

.player-avatar {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.remove-player {
  border-radius: 50%;
  font-size: smaller;
  height: 30px;
  width: 30px;
  padding: 0px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.start-game, .cancel-game {
  margin: 20px;
  width: 150px;
}
