/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.game-setup {
  display: grid;
  gap: 50px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.player {
  position: relative;
  padding: 20px;
  width: 200px;
  height: 300px;
  background-color: #000;
  border-radius: 10px;
}

.add-player {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.player-role {
  font-size: 25px;
}

.player-name {
  font-size: 15px;
  overflow: hidden;
}

.player-avatar {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.remove-player, .edit-name, .change-image {
  border-radius: 50%;
  font-size: smaller;
  height: 30px;
  width: 30px;
  padding: 0px;
  
}

.remove-player {
  position: absolute;
  right: 5px;
  top: 5px;
}

.start-game, .cancel-game {
  margin: 10px 20px;
  width: 150px;
}

.image-container {
  display: flex;
  align-items: center;
}

.change-image {
  background-color: transparent;
  font-size: large;
  text-align: center;
}

@media screen and (max-width: 600px){
  .flex {
    flex-direction: column;
  }
}