@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  @apply max-w-screen-xl text-center mx-auto my-0 p-8;
}
.logo {
  @apply h-[6em] will-change-[filter] transition-[filter] duration-300 p-[1.5em];
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
  from {
    @apply rotate-0;
  }
  to {
    @apply rotate-[360deg];
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    @apply animate-[logo-spin_infinite_20s_linear];
  }
}
.card {
  @apply p-[2em];
}
.read-the-docs {
  @apply text-[#888];
}
.houses {
  @apply flex flex-wrap gap-[15px] justify-evenly;
}
.houses > div {
  @apply flex-[1_0_16%];
  outline: solid rgba(100, 100, 100, 0.5);
}
nav {
  @apply flex justify-center;
}
ul {
  @apply flex gap-[30px] p-0;
}
li {
  list-style: none;
}

/* 
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.houses {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-evenly;
}

.houses > div {
  flex: 1 0 16%;
  outline: solid rgba(100, 100, 100, 0.5);
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  padding: 0;
  gap: 30px;
}

li {
  list-style: none;
} */
