@font-face {
  font-family: "HouseOfTerror";
  src: url("/fonts/HouseOfTerror.otf") format("opentype");
}

@font-face {
  font-family: "BurbankBigCondensed";
  src: url("/fonts/BurbankBigCondensed.otf") format("opentype");
}

:root {
  @apply bg-[#242424] font-normal leading-normal text-[rgba(255,255,255,0.87)];
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
a {
  @apply font-medium text-[#646cff] hover:text-[#535bf2];
  text-decoration: inherit;
}
body {
  @apply m-0 flex min-h-screen min-w-[320px] place-items-center;
}
h1 {
  @apply text-[3.2em] leading-[1.1];
}
button {
  @apply cursor-pointer rounded-lg border border-solid border-transparent bg-[#1a1a1a] px-[1.2em] py-[0.6em] text-[1em] font-medium transition-[border-color] duration-[0.25s] hover:border-[#646cff];
  font-family: inherit;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}